
<div class="col-md-12 upperdiv">
    <h2>Applicant Maintenance</h2>
</div>


<div class="col-md-12">
    <div>
      <div class="row">
        <div class="col-md-3">
         <label>Plan Area</label> 
         <br/>  
          {{data.area1}} 
        </div>
        <div class="col-md-3">
            <label>Plan Area</label> 
            <br/> 
             {{data.area2}} 
        </div>
        <div class="col-md-3">
            <label>Plan Area</label> 
            <br/> 
             {{data.area3}} 
        </div>
        <div class="col-md-3">
            <label>Plan Area</label> 
            <br/> 
             {{data.area4}}  
        </div>
       
      </div>
    </div>
 </div>  
<!-- 
<app-login></app-login> -->

<nav class='navbar navbar-expand navbar-light bg-light'>
    
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/login']">Applicant Data</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/tab1']">Tab1</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Tab2</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Tab3</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Tab4</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Tab5</a></li>
    </ul>
</nav>


<div class='container-fluid'>
    <router-outlet></router-outlet>
  </div>
